.card-block {
    margin-top: 5px;
}

.mat-list-icon {
    color: darkgoldenrod;
  }

  .block-id {
    color: darkgoldenrod;
  }

  .desc {
    color: darkseagreen;
  }

  h4.mat-line {
      text-decoration: underline darkorange;
      cursor: pointer;
  }

p {
padding: 4px 0 !important;
}