<div class="login-container">

    <mat-card layout-align="center center">
      <mat-card-header>
        <div mat-card-avatar
             class="login-header-image"></div>

          <mat-card-title>19BIT 🚀</mat-card-title>
        <mat-card-subtitle>Sign</mat-card-subtitle>
      </mat-card-header>
      <!-- <form [formGroup]="loginForm"
            (keyup.enter)="onLogin()"
            novalidate>
        <mat-form-field>
          <input matInput
                 required
                 formControlName="password"
                 [placeholder]="ph"
                 type="password">
        </mat-form-field>
        <mat-form-field *ngIf="signUp.value">
            <input matInput
                   required
                   formControlName="privateKey"
                   placeholder="Set your seed 🔑"
                   type="text">
          </mat-form-field>
        <mat-slide-toggle formControlName="signUp">{{label}}
        </mat-slide-toggle>
      </form> -->
      <mat-card-content>
        <ng-container *ngIf="waves.isAvailable else installKeeper">
            <button  mat-raised-button
            (click)="onLogin()"
            color="primary">
      <mat-icon>account_circle</mat-icon>
      Sign in with Waves Keeper!
    </button>
        </ng-container>

  <ng-template #installKeeper>
      <p>
        Please install browser chrome extension <a [href]="pluginLink" target="_blank">Waves Keeper</a>
      </p>
    </ng-template>

      </mat-card-content>
    </mat-card>

  </div>

  <ng-template #seedTmpl let-seed>

    <h2 mat-dialog-title>Seed</h2>
    <mat-dialog-content>
      Your seed: {{seed}}
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true">Ok</button>
    </mat-dialog-actions>
  </ng-template>
