@import "~normalize.css/normalize.css";

html, body, #blitz-app {
	height: 100%;
	font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

@import '~@angular/material/theming';
@include mat-core();

$hack-primary: mat-palette($mat-teal);
$hack-accent:  mat-palette($mat-purple);
$hack-warn:    mat-palette($mat-orange);

$candy-app-theme: mat-dark-theme($hack-primary, $hack-accent, $hack-warn);

@include angular-material-theme($candy-app-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
